<img src="assets\Untitled.png" style="width:100%;">
<div class="container" style=''>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>About The Owner</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6">
            Languages
            <hr>
            Java
            <br>
            Javascript
            <br>
            C++
            <br>
            Python
        </div>
        <div class="col-lg-6">
            Languages
            <hr>
            Java
            <br>
            Javascript
            <br>
            C++
            <br>
            Python
        </div>
    </div>

</div>